@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    min-height: 100vh;
    background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 600px;
    border: solid 2px #555;
    border-radius: 10px;
    background-color: #888;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    gap: 20px;
}

.calc__res {
    grid-column: 1/-1;
    background-color: #333;
    font-size: 46px;
    padding: 5px;
    overflow-y: hidden;
    color: #eee;
}

.calc__btn {
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;

    font-size: 28px;
    box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.5);
}

.calc__btn:hover {
    opacity: 0.9;
}

.calc__btn:active {
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

.calc__btn_operator {
    background-color: #ffe2ae;
}

.calc__btn_reset {
    background-color: #ff5050;
    color: #fff;
}

.calc__btn_equal {
    background-color: #5d50ff;
    color: #fff;
    grid-column: 2/-1;
}